@model IEnumerable<BussinessObject.Models.Product>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Search">
    Search <input name="txtSearch" />
    <select name="type">
        <option value="1">Product name</option>
        <option value="2">Unit price</option>
         <option value="3">Unitsln Stock</option>
    </select>
    <input type="submit" name="btnSubmit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitslnStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitslnStock)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ProductId.ToString()  }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductId.ToString()  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ProductId  })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to list product</a>
</div>
